<div>
    <mat-form-field>
        <mat-label>Seleccione fecha</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="order!.orderDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Direccion" [(ngModel)]="order!.address">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Cliente</mat-label>
        <mat-select [(value)]="order!.customerId">
            <mat-option *ngFor="let customer of customers" [value]="customer.id">
                {{ customer.names }} {{ customer.surnames }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<button mat-fab color="accent" (click)="addEdit()" style="float: right; margin-right: 20px;">
    <mat-icon>add</mat-icon>
</button>
<div>
    <mat-table #table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="product">
            <mat-header-cell *matHeaderCellDef mat-sort-header> producto</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.product.description}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="quantity">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad </mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.quantity}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
            <mat-cell *matCellDef="let row;let i = index;">
                <button mat-button color="primary" (click)="addEdit(i,row)">
                    <mat-icon>ballot</mat-icon>
                </button>
                <button mat-button color="accent" (click)="delete(row)">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns:displayedColumns;"></mat-row>

    </mat-table>

</div>
<button mat-raised-button color="primary" (click)="ok()">Aceptar</button>
<button mat-raised-button color="accent" (click)="close()">Cancelar</button>