<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a routerLink="home" class="nav-link" routerLinkActive="active">
          Inicio
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="suppliers" class="nav-link" routerLinkActive="active">
          Proveedores
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="customers" class="nav-link" routerLinkActive="active">
          Clientes
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="products" class="nav-link" routerLinkActive="active">
          Productos
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="orders" class="nav-link" routerLinkActive="active">
          Pedidos
        </a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

